* {
  font-family: avenir;
}

body {
  background: url(laPuerta.jpg);
  background-size: 170%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


p {
  font-size: 25px;
  margin: 15px;
}

h1 {
  background: #b2482c ;
  background-position: right center ;
  color: #e0ba98;
  display: flex;
  flex-direction: column-reverse;
  font-size: 25px;
  height: 180px;
  margin-left: -30px;
  padding-bottom: 10px; 
  padding-right: 30px;
  position: fixed;
  text-align: right;
  top: -25px;
  width: 100%;
}

h2 {
  background: rgba(227, 229, 230, .5);
  font-size: 22px;
  font-weight: normal;
  color: #40160D;
  margin: 190px 0 20px 20px;
  margin-top: 180px;
  padding: 10px;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  color: black;
}

/*                                              Nav Bar / Home Link Animation */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #BE8E56;
  text-decoration: none;
  bottom: 0px;
  margin-top: 20px;
  position: fixed; 
  height: 70px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

@keyframes pulse {
  from {background: none}
  50% {background: rgba(166, 76, 68, .2)}
  to {background: none}
}


                                              /* Home Menu */
.menu-link {
  margin-top: 255px;
  padding: 11px 0 0px 0;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  width: 120px;
  height: 50px;
  animation: pulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll {
  margin-top: 200px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%
}

.scroll-title {
  background: rgba(217, 150, 91, .5);
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  border-top-left-radius: 45px ;
  border-top-right-radius: 45px;
}

.scroll-menu {
  display: flex;
  flex-direction: column;
  background: rgba(240, 241, 242, .8);
  position: relative;
  text-align: center;
  scroll-snap-align: center;
  width: 300px;
  height: 450px;
  margin: 10px;
  border: 4px solid #A6432D;
  border-radius: 50px;
}


                                              /*  Title Bar  */

.big-pops {
  font-family: 'Sofia', cursive;
  font-size: 56px;
  color: #40160D;
  text-shadow: 2px 2px #BE8E56;
  position: fixed;
  top: -35px;
  margin: 25px 10px 0px 200px;
  width: 105%;
}

.title-tag {
  position: fixed;
  top: -30px;
  align-items: center;
  text-align: left;
  transform: rotate(-10deg);
  font-family: 'Sofia', cursive;
  font-size: 42px;
  color: #40160D;
  text-shadow: 2px 2px #BE8E56;
  margin: 30px 0px 0px -50px;
  height: 130px;
  width: 105%;
  background: none;
  z-index: 1;
}


                                            /* Inventory  */

#total-inventory {
  background: rgba(227, 229, 230, .6);
  border: 1px solid white;
  border-radius: 10px;
  color: #A6432D;
  font-weight: bold;
  padding: 3px;
}

#total-inventory:hover {
  background: rgba(217, 150, 91, .5);
  cursor: default;
}

.inventory-table {
  margin-bottom: 70px;
}

.inventory-titles {
  font-weight: bold;
  font-size: 16px;
  padding-right: 10px;
}

.title-cell{
  border-bottom: 1px solid gray;
}

.content-cell:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.title-cell:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.inventory-columns {
  background: rgba(227, 229, 230, .7);
  font-size: 14px;
  width: 90vw;
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 40px;
}

td {
  border-bottom: .7px solid lightgray; 
  padding: 17px 5px 0px 5px;
  padding-top: 17px;
  vertical-align: bottom;
  padding-right: 5px;

}


                                            /* Grab Bottle */

#select {
  margin: 210px 0 0 20px;
}

#select:hover {
  background: rgba(217, 150, 91, .7);
}

#select:focus {
  background: rgba(178, 72, 44, .7);
  color: white;
  outline: none;
}



                                        /* Update Bottle */

.update-bottle {
  display: inline-block;
  position: relative;
  background: rgba(211, 211, 211, 0.6);
  border: 3px solid rgba(215, 182, 153, 0.7);
  box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
  border-radius: 10px;
  padding: 10px;
  margin: 50px 30px 0 30px;
  width: 76vw;
  height: 48vh;
}

.grab-bottle-spirit {
  font-weight: bold;
}

.counter-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.percentage {
  background: rgba(240, 241, 242, .8);
  text-align: right;
  width: 95px;
  padding: 10px;
  margin-left: 10px;
  font-size: 60px;
  border: 2px solid white;
  border-radius: 10px;
  color: #BF6F41;
  z-index: 0;
}

.button-box {
  border: 2px solid rgba(180, 74, 45, .7);
  padding: 10px;
  background: ;
  background: #D6A263;
  border-radius: 10px;
}

.plus-minus {
  background: rgba(227, 229, 230, .7);
  border-style: inset;
  font-size: 25px;
  color: black;
  border-radius: 50%;
  outline: none;
  margin: 5px 0 3px;
  width: 40px;
  height: 40px;
  z-index: 0;
}

.plus-minus:hover {
  background: rgba(95, 95, 95, 0.5);
  border-style: outset;
  color: white;
}

.tasting-notes {
  position: relative;
  background: white;
  z-index: 1;
  height: 20vh;
  width: 80vw;
}

                                            /* Add Bottle */

.add-bottle {
  position: relative;
  text-align: left;
  color: #40160D;
  font-size: 16px;
  line-height: 10px;
  margin: 0 auto;
  width: 300px;
}

.submit {
  background:#F0F1F2;
  color: #40160D;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
  border: 1px outset #40160D;
  border-radius:8px;
}

.submit:hover {
  background: #dec3a5;
}

.text-bar {
  background: rgba(231, 228, 228, 0.5);
  color: #40160D;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
  width: 300px;
  height: 30px;
}

.text-bar:hover {
  background: rgba(217, 150, 91, .7);
}

.text-bar:focus {
  background: rgba(178, 72, 44, .7);
  color: white;
  outline: none;
}






 