                                              /*  Tablet Breakpoint */

@media screen and (min-width: 500px ) and (min-height: 650px) {

  body {
    background-size: 102%;
    background-position: bottom;
  }

  h1 {
    /* height: 190px; */
    font-size: 28px;
  }

  h2 {
    font-size: 25px;
    margin-top: 240px;
    margin-left: 60px;
  }
  
  h3 {
    font-size: 28px;
  }
  
  p {
    line-height: 45px;
  }

  .menu-link {
    width: 150px;
    margin-right: 40px;
  }

  .link-box {
    display: flex;
    justify-content: flex-end;
  }

  .big-pops {
    font-size: 70px;
    margin-top: 0px;
    /* margin-left: 250px; */
  }
  
  .title-tag {
    font-size: 60px;
    /* margin-top: 40px; */
  }

   .nav-bar {
     height: 70px;
     font-size: 25px;
   }

  .scroll {
    margin-top:28vh;
    height: 60vh;
  }

  .scroll-title {
    font-size: 35px;

  }

  .scroll-menu {
    width: 400px;
    height: 400px;
    margin: 20px;
  }

   #total-inventory {
     padding: 10px;
   }

   .inventory-table {
    margin-bottom: 120px;
    margin-left: 40px;
   }

   .inventory-columns {
    width: 85vw;
   }

   td {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
  }

  .title-cell {
    font-size: 20px;
  }  

  #grab-bottle {
    margin-bottom: initial;

  }

  #select {
    background: rgba(217, 150, 91, .7);
    color: white;
    height: 35px;
    }

  .select-bottle { 
    text-align: right; 
    margin-right: 40px;
    }

    @keyframes open {
      from {height: 30vh;
            width: 0}
    
      to {height: 30vh;
          width: 35vw}
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
  .update-bottle {
    width: 40vw;
    height: 40vh;
    /* height: 450px; */
    margin-top: 2vh;
    margin-left: 5vw;
  }
  
  .update-parent-container {
    display: flex;
    justify-content: flex-start;
    /* height: 450px; */
    /* margin-top: 50px; */
  } 

  .tasting-notes {
    position: initial;
    background: rgba(211, 211, 211, 0.8);    
    margin-top: initial;
    height: 30vh;
    width: 35vw;
    animation-name: appear;
    animation-duration: .8s;
  }

  .add-note {
    width: 30vw;
    height: 15vh;
    margin: 5px;
  }

  .add-replace {
    margin-left: 5px;

  }

  .update-tasting-notes {
    animation-duration: .8s;
  }

  .percentage  {
    font-size: 70px;
    width: 110px;
    padding-right: 20px;
  }

  .form-container {
    display: flex;
  }

  .textBar {
    font-size: 18px;
    height: 40px;
  }
   
  label {
    font-size: 18px;
  }

  .add-bottle {
    background: rgba(227, 229, 230, .7);
    align-items: center;
    padding: 10px 0;
  }
   
  }

  @media screen and (min-width: 750px) {
    .add-bottle {
      display: flex;
      flex-wrap: wrap;
      top: 50px;
      justify-content: space-between;
      background: rgba(227, 229, 230, .7);
      border: 3px solid rgba(215, 182, 153, 0.7);
      border-radius: 10px;
      padding: 30px;
      width: 85vw;
     }
  
     .form-block-top-container {
       display: flex;
       justify-content: space-between;
       width: 100%;
       height: 200px;
     }
  
     .form-block{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      }
  
     .form-block-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
     }
    
     #notes {
      width: 90%;
    }
  
     #notes-form {
       width: 80%;
     }
  
     .submit {
       font-size: 18px;
       padding: 5px 15px 5px 15px;
     }
  }
