* {
  font-family: avenir;
}

colorWheel {
  color: #E3E5E6;
  color: #BF6F41;
  color: #40160D;
  color: #B2482C;
  color: #D6A263;
  color: #BE8E56;
}


body {
  background: url(laPuerta.jpg);
  background-size: 170%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.big-pops {
  text-align: left;
  font-family: 'Sofia', cursive;
  font-size: 40px;
  color: #40160D;
  text-shadow: 2px 2px #BE8E56;
  background: none;
  z-index: 1;
  align-items: center;
  position: fixed;
  top: -35px;
  margin: 40px 0px -20px 200px;
  height: 130px;
  width: 105%;
}
  
.title-tag {
  text-align: left;
  font-family: 'Sofia', cursive;
  font-size: 40px;
  color: #40160D;
  text-shadow: 2px 2px #BE8E56;
  background: none;
  z-index: 1;
  align-items: center;
  position: fixed;
  top: -35px;
  margin: 25px 0px 0px -60px;
  height: 130px;
  width: 105%;
  transform: rotate(-10deg);
}

h1 {
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  top: -25px;
  color: #e0ba98;
  font-size: 25px;
  background: #b2482c ;
  background-position: right center ;
  height: 180px;
  width: 100%;
  padding-bottom: 10px; 
  padding-right: 30px;
  margin-left: -30px;
}

h2 {
  margin: 190px 0 20px 20px;
  font-weight: normal;
  font-size: 22px;
  color: #40160D;
  background: rgba(227, 229, 230, .5);
  object-fit: contain;
  padding: 10px;
  margin-top: 180px;
}

h3 {
  font-size: 30px;
}

.nav-bar {
  display: flex;
  position: fixed; 
  text-decoration: none;
  bottom: 0px;
  margin-top: 20px;
  /* background: #BF6F41; */
  background: #BE8E56;
  height: 70px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}


                                            /* Inventory  */

#total-inventory {
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(227, 229, 230, .5);
  color: #B2482C;
  font-weight: bold;
  padding: 3px;
}

#total-inventory:hover {
  background: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.inventory-table {
  margin-bottom: 70px;
}

.inventory-titles {
  font-weight: bold;
  font-size: 16px;
  padding-right: 10px;
}

.content-cell:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.title-cell:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.inventory-columns {
  font-family: avenir;
  width: 90vw;
  border-collapse: collapse;
  /* background: rgba(255, 255, 255, 0.5); */
  background: rgba(202, 194, 187, 0.6);
  margin-left: 20px;
  font-size: 14px;
}

td {
  border-bottom: .7px solid lightgray; 
  padding-top: 17px;
  vertical-align: bottom;
  padding-right: 5px;

}

/* Grab Bottle */

select {
font-family: avenir;
font-size: 16px;
margin: 200px 0 0 20px;
outline: none;
height: 30px;
width:300px;
border: none;
background: rgba(231, 228, 228, 0.7);
border-radius: 5px;
box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
}


option {
  font-family: avenir;

}

                                        /* Update Bottle */

.update-bottle {
  width: 76vw;
  display: inline-block;
  background: rgba(211, 211, 211, 0.6);
  /* background: rgba(191, 111, 65, .7); */
  border: 5px solid rgba(215, 182, 153, 0.7);
  box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
  border-radius: 10px;
  padding: 10px;
  margin: 50px 30px 0 30px;
  height: 400px;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  /* color:#40160D; */
  color: black;
}

.counter-container {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-start;
}

.percentage {
  text-align: right;
  width: 95px;
  padding: 10px;
  margin-left: 10px;
  font-size: 60px;
  border: 2px solid white;
  border-radius: 10px;
  color: #BF6F41;
  background: rgba(240, 241, 242, .8);
  /* background: rgba(217, 150, 91, .8); */
}

.button-box {
padding: 10px;
background: rgba(180, 74, 45, .9);
border: 1.5px solid #E3E5E6;
border-radius: 10px;
}

.plus-minus {
  font-size: 25px;
  /* background: rgba(0, 0, 0, .5); */
  background: rgba(227, 229, 230, .7);
  border-style: inset;
  color: black;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 5px 0 3px;

}

.plus-minus:hover {
  background: rgba(95, 95, 95, 0.5);
  border-style: outset;
  color: white;
}




                                            /* Add Bottle */

.submit {
  font-weight: bold;
  font-size: 16px;
  background:#F0F1F2;
  color: #40160D;
  padding: 2px 10px 2px 10px;
  border: 1px outset #40160D;
  border-radius:8px;
}

.submit:hover {
  background: #dec3a5;
}

.textBar {
  font-size: 16px;
  color: #40160D;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background: rgba(231, 228, 228, 0.5);
  border-radius: 5px;
  box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
}

.textBar:hover {
  background: rgba(217, 150, 91, .7);
}

.textBar:focus {

  color: white;
  background: rgba(178, 72, 44, .7);
  outline: none;
}

.add-bottle {
  line-height: 10px;
  margin: 0 auto;
  color: #40160D;
  width: 300px;
  font-size: 16px;
  text-align: left;
  display: block;
}

textarea {
height: 200px;
}

