* {
  font-family: avenir;
}

::-webkit-scrollbar {
  width: 0px;
}

@keyframes pulse {
  from {background: none}
  50% {background: rgba(166, 76, 68, .2)}
  to {background: none}
}



                                              /* Home Menu */
.menu-link {
  margin-top: 255px;
  width: 120px;
  height: 50px;
 padding: 11px 0 0px 0;
 border-radius: 25px;
 text-align: center;
  margin-left: 20px;
  text-decoration: none;
  animation: pulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll {
  margin-top: 200px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%
}

.scroll-title {

  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  background: rgba(217, 150, 91, .5);
  border-top-left-radius: 45px ;
  border-top-right-radius: 45px;
}

.scroll-menu {
display: flex;
scroll-snap-align: center;
text-align: center;
position: relative;
flex-direction: column;
width: 300px;
border: 4px solid #A6432D;
background: rgba(240, 241, 242, .8);
border-radius: 50px;
margin: 10px;
}

p {
  font-size: 25px;
  margin: 15px;
}

.colorWheel {
  color: #E3E5E6;
  color: #BF6F41;
  color: #40160D;
  color: #B2482C;
  color: #D6A263;
  color: #BE8E56;
}


body {
  background: url(laPuerta.jpg);
  background-size: 170%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




                                              /*  Title Bar  */

.big-pops {
  font-family: 'Sofia', cursive;
  font-size: 56px;
  color: #40160D;
  text-shadow: 2px 2px #BE8E56;
  align-items: center;
  position: fixed;
  top: -35px;
  margin: 25px 10px 0px 200px;
  width: 105%;
}


  
.title-tag {
  text-align: left;
  font-family: 'Sofia', cursive;
  font-size: 42px;
  color: #40160D;
  text-shadow: 2px 2px #BE8E56;
  z-index: 1;
  align-items: center;
  position: fixed;
  top: -30px;
  margin: 30px 0px 0px -50px;
  height: 130px;
  width: 105%;
  transform: rotate(-10deg);
  background: none;

}


h1 {
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  top: -25px;
  color: #e0ba98;
  font-size: 25px;
  background: #b2482c ;
  background-position: right center ;
  height: 180px;
  width: 100%;
  padding-bottom: 10px; 
  padding-right: 30px;
  margin-left: -30px;
}

h2 {
  margin: 190px 0 20px 20px;
  font-weight: normal;
  font-size: 22px;
  color: #40160D;
  background: rgba(227, 229, 230, .5);
  object-fit: contain;
  padding: 10px;
  margin-top: 180px;
}

h3 {
  font-size: 30px;
}

.nav-bar {
  display: flex;
  position: fixed; 
  text-decoration: none;
  bottom: 0px;
  margin-top: 20px;
  /* background: #BF6F41; */
  background: #BE8E56;
  height: 70px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}



                                            /* Inventory  */

#total-inventory {
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(227, 229, 230, .6);
  color: #A6432D;
  font-weight: bold;
  padding: 3px;
}

#total-inventory:hover {
  /* background: rgba(255, 255, 255, 0.8); */
  background: rgba(217, 150, 91, .5);
  cursor: default;
}

.inventory-table {
  margin-bottom: 70px;
}

.inventory-titles {
  font-weight: bold;
  font-size: 16px;
  padding-right: 10px;
}

.content-cell:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.title-cell:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.inventory-columns {
  font-family: avenir;
  width: 90vw;
  border-collapse: collapse;
  background: rgba(227, 229, 230, .6);
  margin-left: 20px;
  font-size: 14px;
  margin-right: 40px;
}

td {
  border-bottom: .7px solid lightgray; 
  padding: 17px 5px 0px 5px;
  padding-top: 17px;
  vertical-align: bottom;
  padding-right: 5px;

}


                                            /* Grab Bottle */

#select {
margin: 210px 0 0 20px;
}

#select:hover {
  background: rgba(217, 150, 91, .7);
}

#select:focus {

  color: white;
  background: rgba(178, 72, 44, .7);
  outline: none;
}


option {
  font-family: avenir;

}


                                        /* Update Bottle */

.update-bottle {
  width: 76vw;
  display: inline-block;
  position: relative;
  background: rgba(211, 211, 211, 0.6);
  border: 3px solid rgba(215, 182, 153, 0.7);
  box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
  border-radius: 10px;
  padding: 10px;
  margin: 50px 30px 0 30px;
  height: 400px;
}

.grab-bottle-spirit {
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  /* color:#40160D; */
  color: black;
}

.counter-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.percentage {
  text-align: right;
  width: 95px;
  padding: 10px;
  margin-left: 10px;
  font-size: 60px;
  border: 2px solid white;
  border-radius: 10px;
  color: #BF6F41;
  background: rgba(240, 241, 242, .8);
}

.button-box {
  padding: 10px;
  background: ;
  background: #D6A263;
  border: 2px solid rgba(180, 74, 45, .7);
  border-radius: 10px;
}

.plus-minus {
  font-size: 25px;
  background: rgba(227, 229, 230, .7);
  border-style: inset;
  color: black;
  border-radius: 50%;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 5px 0 3px;

}

.plus-minus:hover {
  background: rgba(95, 95, 95, 0.5);
  border-style: outset;
  color: white;
}

                                            /* Add Bottle */

/* .form-container {
  margin-top: 150px;
} */

.submit {
  font-weight: bold;
  font-size: 16px;
  background:#F0F1F2;
  color: #40160D;
  padding: 2px 10px 2px 10px;
  border: 1px outset #40160D;
  border-radius:8px;
}

.submit:hover {
  background: #dec3a5;
}

.textBar {
  font-size: 16px;
  color: #40160D;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: none;
  background: rgba(231, 228, 228, 0.5);
  border-radius: 5px;
  box-shadow: 2px 0px 3px 0px rgb(50, 50, 50);
}

.textBar:hover {
  background: rgba(217, 150, 91, .7);
}

.textBar:focus {
  color: white;
  background: rgba(178, 72, 44, .7);
  outline: none;
}

.add-bottle {
  position: relative;
  top: 50px;
  line-height: 10px;
  margin: 0 auto;
  color: #40160D;
  width: 300px;
  font-size: 16px;
  text-align: left;
}

@media screen and (min-width: 500px ) and (min-height: 750px) {

  body {
    background-size: 102%;
    background-position: bottom;
  }

  .menu-link {
    width: 150px;
    margin-right: 40px;
  }

  .link-box {
    display: flex;
    justify-content: flex-end;
  }

  .big-pops {
    font-size: 70px;
    margin-top: 0px;
    margin-left: 250px;
  }
  
  .title-tag {
    font-size: 60px;
    margin-top: 40px;
  }
   h1 {
     height: 190px;
     font-size: 28px;
   }

   h2 {
     font-size: 25px;
     margin-top: 240px;
     margin-left: 60px;
   }

   .nav-bar {
     height: 100px;
     font-size: 25px;
   }

  .scroll {
    margin-top: 270px;
  }

  .scroll-title {
    font-size: 35px;

  }

  .scroll-menu {
    width: 400px;
    height: 500px;
    margin: 20px;
  }

  p {
    line-height: 45px;
  }

   #total-inventory {
     padding: 10px;
   }

   .inventory-table {
    margin-bottom: 120px;
    margin-left: 40px;
   }

   .inventory-columns {
    width: 85vw;
   }

   td {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
  }
  .title-cell {
    font-size: 20px;
  }  

  #select {
    height: 35px;
    margin: 260px 0 0 20px;
    }

  .select-bottle {
    text-align: right; 
    margin-right: 40px;
    }

  .update-bottle {
    width: 40vw;
    height: 450px;
  }

  h3 {
    font-size: 28px;
  }

  .percentage  {
    font-size: 70px;
    width: 110px;
    padding-right: 20px;
  }

  .form-container {
    display: flex;
  }

  .textBar {
    font-size: 18px;
    height: 40px;
  }
   
  label {
    font-size: 18px;
  }

   .add-bottle {
    background: rgba(227, 229, 230, .7);
    border: 3px solid rgba(215, 182, 153, 0.7);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
    justify-content: space-between;
   }

   .form-block-top-container {
     width: 100%;
     height: 200px;
     display: flex;
    justify-content: space-between;
   }

   .form-block{
   display: flex;
   flex-direction: column;
   width: 50%;
   justify-content: space-evenly;
   align-items: center;
       }

   .form-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
   }

   .form-block-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   }
  
   #notes {
    width: 90%;
  }

   #notes-form {
     width: 80%;
   }

   .submit {
     font-size: 18px;
     padding: 5px 15px 5px 15px;
   }
   
  }

  @media screen and (min-width: 900px ) {

    body {
      background-size: 102%;
      background-position: center;
    }

    .big-pops {
      font-size: 90px;
      width: 200px;
      /* background: yellow; */
    }

    .title-tag {
      font-size: 80px;
      margin-top: 40px;
      /* background: green; */
    }

    .nav-bar {
      flex-direction: column;
      justify-content: flex-start;
      bottom: initial;
      left: 0;
      margin-top: 180px;
      padding-top: 100px;
      line-height: 15vh;
      height: 100%;
      width: 20vw;
      z-index: 0;
    }

    .menu-link {
      width: 150px;
      margin-right: 40px;
    }
    .link-box {
      display: flex;
      justify-content: flex-end;
    }

  }